.find-icons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.find-icons_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find-icons_icon i{
    font-size: 35px;
}

.find-icons_icon span{
    margin-top: 15px;
}

.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends_title{
    font-size: 14px;
    color: var(--grey);
}

.recommended-friends span{
    margin: 100px 0;
    display: block;
    text-align: center;
    color: var(--grey);
}

.open-chat_header{
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    margin-bottom: 25px;
}

.open-chat_header span{
    opacity: 0.6;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.open-post_title{
    font-weight: 600;
    margin-bottom: 7px;
}

.open-post_hashtags{
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post_members{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.open-post_members img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post_members-count{
    opacity: 0.5;
    font-size: 14px;
}

.open-post_members .divider{
    width:1px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--grey);
}
.open-post_member-status{
    color: #ffb0e0;
}

.open-post_photo{
    position: relative;
}

.open-post_photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post_heart-count{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding:5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.open-post_heart-count span{
    margin-left: 3px;
}