.more-screen .icon-row{
    margin-top: 25px;
}

.more-suggestion{
    margin-top: 15px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestion_title{
    margin-bottom: 30px;
}

.more-suggestion_icons{
    display: flex;

}

.more-suggestion_icon{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestion_icon_image{
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.more-suggestion_icon_image i{
    font-size: 32px;
    color: white;
}

